<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>This is the fourth web page</h1>
    <h2><a href ="{% url 'one' %}">This the my first web page</a> <br/></h2>

    <h4><a href ="{% url 'two' %}">This the my second web page</a>  <br/></h4>

    <h4><a href ="{% url 'app2:three' %}">This the third page</a> <br/></h4>
</center>
</body>
</html>