<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <h1>This is the content i have to display on my web page</h1>

    <h3>
    <a href="{% url 'two' %}">This the second of the html page</a> <br/>
    
    <a href="{% url 'app2:three' %}">This is third of the html page</a> <br/>

    <a href ="{% url 'app2:four' %}">This the fourth of the html page</a> <br/>
    </h3>

</center>
</body>
</html>